.the-table{
	background: linear-gradient(#1a510d,#277714);
	border: 5px solid #523100;
	border-bottom: 20px solid #523100;
	border-radius: 40px;
	/*border-radius: 50%;*/
	margin-top: 50px;
	padding: 30px 0px;
	height: 500px;
	transform: rotateX(35deg);
}

.card{
	height: 150px;
	color: black;
	margin: 10px 0px;
	width: 12.6%;
	float: left;
}

.btn {
	width: 80%;
}

.card img {
	max-height: 150px;
	border-radius: 5px;
}

.dealer-total, .player-total {
	color: white;
	text-shadow: 0px 3px 5px black;
	font-size: 20px;
	font-weight: bold;
}

.game-text{
	color: white;
	font-size: 30px;
	text-align: center;
	text-shadow: 0px 3px 5px black;
	padding: 15px 0px;
	height: 60px;
	line-height: 30px;
	
}

.table-skew {
	perspective: 45em;
}